
{% extends "base.html" %}
{% block body %}

        <div class="container">
        <form method='Post'  >
          {% csrf_token %}
               {{form.as_p}}
                <button type="submit" class="btn btn-primary">Creer User</button>
              </form>
              </div>
<script>

 $('#img').change(function(){
    let filename= $("#img")[0].files[0].name;
    $("#labelfile").text(filename)

    
 })




 function previewFile() {
  var preview = document.querySelector('img');
  var file    = document.querySelector('input[type=file]').files[0];
  var reader  = new FileReader();

  reader.addEventListener("load", function () {
    preview.src = reader.result;
  }, false);

  if (file) {
    reader.readAsDataURL(file);
  }
}
</script>

{% endblock body %}